.Root {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.Summary {
  display: flex;
  align-items: center;
}

.DescriptionContainer {
  margin-left: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Subtitle {
  display: flex;
  align-items: center;
}

.NumRatingsContainer {
  display: flex;
  align-items: center;
  min-width: 2rem;

  > p {
    margin-right: 0.25em;
  }
}

.OverallScore {
  margin-left: 1rem;
}

.ExpandedContent {
  display: flex;
  flex-direction: column;
}
