.DialogContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.SuccessMessageContainer {
  padding: 2rem 3rem;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
