.Root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.Paper {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  > * {
    margin-top: 1rem;
  }
}

.Input {
  margin-top: 1rem;
  width: 100%;
}

.Checkbox {
  align-self: flex-start;
  margin-top: 1rem;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: stretch;
  > button {
    flex: 1 1 auto;
  }
  :first-child {
    margin-right: 0.5rem;
  }
  :not(:first-child) {
    margin-left: 0.5rem;
  }
}

.CheckExistingContainer {
  align-self: center;
  display: flex;
  align-items: center;
}
