.Root {
  // background-color: black;
  margin: 0.5rem 0.75rem 0.5rem 0.75rem;
  position: relative;
  &::before {
    content: '';
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 3/4 * 100%;
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.ChartContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
