.Root {
  display: flex;
  justify-content: center;
}

.Paper {
  flex: 1;
  margin: 3rem 1rem;
  min-width: 20rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.FormRoot {
  display: flex;
  flex-direction: column;

  > * {
    margin-top: 0.5rem;
  }
}

.SectionHeader {
  margin-top: 1rem;
}

.FlavorRow {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25rem;
}

.AddFlavorButton {
  margin-top: 1rem;
}

.SubmitButton {
  margin-top: 1rem;
}
